body {
    background-image: url(../assets/img/bg_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(15%) blur(1px);
    position: fixed;
    min-width: 100vw;
}
main {
    overflow-y: scroll;
}

h1 {
    max-width: fit-content;
    padding-top: clamp(40px, 5vw, 65px);
    margin-inline: auto;
    text-align: center;
}
h1 img {
    width: clamp(200px, 100%, 65vw);
}
/* ========= PLAYER ========= */
.section_player h3 {
    font-family: "LifeCraft";
    font-size: 2.5em;
    color: #fecf02;
    text-align: center;
    margin-top: -1em;
    text-shadow: 1px 1px 3px #14a44d;
}
/* == Form == */
.section_form {
    display: flex;
    align-items: center;
}
.section_form form {
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 8px;
}
.section_form form > * {
    flex: 1;
    width: 100%;
    padding: 5px 8px;
    border-color: transparent;
    border-radius: 8px;
    background-color: rgb(201, 46, 46);
    color: #fecf02;
}
.section_form form > *::placeholder {
    color: #fff;
}
.section_form form > *:focus-visible {
    outline-color: #fecf02;
}
/* == Btn == */
button.save {
    display: block;
    margin: 1em auto 0;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-image: url("../assets/img/bg_btn.jpg");
    background-position: center;
    background-size: cover;
    padding: 15px 30px;
    font-family: "LifeCraft";
    font-size: 2em;
    width: 16vw;
    aspect-ratio: 16/9;
    box-shadow: 3px 3px 5px #000, -3px -3px 5px #000, 5px 5px 5px #000, -5px -5px 5px #000;
    opacity: 1;
    visibility: visible;
    transform: scale(0.7);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
button.save_disabled {
    opacity: 0;
    visibility: hidden;
}
button.save:hover {
    transform: scale(0.8);
}
/* ========== FIGHT ======== */
.section_fight {
    position: absolute;
    z-index: 10;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.847);
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}
.section_fight_disabled {
    transform: scale(0);
    transition: scale 0.4s ease-in-out;
}
.fight_container {
    position: relative;
    width: fit-content;
    cursor: pointer;
}
.fight_container img {
    cursor: pointer;
    width: 0;
    height: 0;
}
.fight_container a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "LifeCraft";
    font-size: 0px;
    color: #fff;
    text-decoration: none;
    text-shadow: 4px 4px 3px #000;
}

/* ========== CARD ========= */
.display_set {
    min-height: 180px;
    position: relative;
}
.container_card::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    /* background: linear-gradient(0deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 100%); */
    opacity: 0;
}
.container_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(5px, 3vw, 15px);
    max-height: 635px;
    overflow: scroll;
    margin-top: 50px;
    padding-bottom: 50px;
}

.container_card .card {
    max-width: 200px;
}

@media screen and (min-width: 900px) {
    article {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5vw;
    }
    .section_player {
        flex: 1;
    }
}
